{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">{{ project }}</span></h1>
  <p class="lead">
      Welcome to the BeeHive{% if request.authenticated_userid %}: <span class="text-info">{{ request.identity["display_name"] }}</span>{% endif %}. You are currently visiting
    <span class="font-normal">{{ title or "Demo Beehive" }}</span>.
    Please look at the contents which are here available.
  </p>

  <h2>Honeycombs</h2>
  <ul>
    {% for hc, hc_url, cells in honeycombs %}
      <li>
        <a href="{{ hc_url }}">{{ hc.title }}</a>
        {% if cells %}
          <ul>
            {% for cell, cell_url in cells %}
              <li>
                <a href="{{ cell_url }}">{{ cell.title }}</a> ({{ cell.__class__.__name__ }})
                [<a href="{{ cell_url }}@@edit">Editar</a>]
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p><em>No cells available.</em></p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
