{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">{{ project }}</span> <span class="smaller"></span></h1>
  <p class="lead">Welcome to the BeeHive. You are currently visiting <span class="font-normal">{{ title }}</span>. Please look at the contents which are here available.</p>

  <h2><span class="font-normal">Honeycombs</span></h2>
    <ul>
{%  for hc, url in honeycombs %}
    <li><a href="{{ url }}">{{ hc.title }}</a></li>
{% endfor %}
    </ul>
</div>
{% endblock content %}
