{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">{{ project }}</span> <span class="smaller"></span></h1>
  <p class="lead"></p>

  <h2><span class="font-normal">{{ title }}</span></h2>
<p class="text-center font-bold">{{ contents }}</p>
</div>
{% endblock content %}
