<h2>Crear nuevo CellText en {{ honeycomb.title }}</h2>

<form method="post">
    <label>Nombre (ID único):</label><br>
    <input type="text" name="name" required><br><br>
    
    <label>Título:</label><br>
    <input type="text" name="title"><br><br>
    
    <label>Contenido:</label><br>
    <textarea name="contents" rows="6" cols="40"></textarea><br><br>
    
    <input type="submit" name="form.submitted" value="Crear CellText">
</form>
