{% extends "layout.jinja2" %}
{% block content %}
<h2>{{ 'Crear' if new else 'Editar' }} celda de texto enriquecido</h2>
<form method="post">
  {% if new %}
    <label>Nombre único:<br><input type="text" name="name"></label><br>
  {% endif %}
  <label>Título:<br><input type="text" name="title" value="{{ cell.title }}"></label><br>
  <label>HTML (se aceptan etiquetas):<br><textarea name="contents" rows="8" cols="80">{{ cell.source }}</textarea></label><br>
  <button type="submit" name="form.submitted">Guardar</button>
</form>
{% endblock %}
