{% extends "layout.jinja2" %}
{% block content %}
<h2>Editar Animación: {{ cell.title }}</h2>

<form method="POST">
  <label>Título:<br>
    <input type="text" name="title" value="{{ cell.title }}">
  </label><br><br>

  <label>URL de Animación (href):<br>
    <input type="text" name="href" value="{{ cell.href }}">
  </label><br><br>

  <label>Icono:<br>
    <input type="text" name="icon" value="{{ cell.icon }}">
  </label><br><br>

  <input type="submit" name="form.submitted" value="Guardar">
</form>
{% endblock %}
