{% extends "layout.jinja2" %}
{% block content %}
<h1>{{ cell.title }}</h1>

{% if cell.icon %}
  <img src="{{ cell.icon }}" style="max-height: 80px;"><br>
{% endif %}

{% if cell.contents %}
  <p>{{ cell.contents }}</p>
{% elif cell.source %}
  <div>{{ cell.source | safe }}</div>
{% elif cell.href %}
  <iframe src="{{ cell.href }}" width="100%" height="400" style="border:none;"></iframe>
{% else %}
  <p><em>Sin contenido.</em></p>
{% endif %}

<p><a href="{{ request.resource_url(cell, 'edit') }}">Editar</a></p>
{% endblock %}
